.root {
  height: 100vh;
}

Website-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0077FF;
}

html select{
  margin: 4px; 
padding: 8px; 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
background-color: #7F8E69;
}
  
#data-row{
  border: 1px solid #333; /* Reduced border width and changed color to a dark shade */
margin-top: 20px; /* Increased margin-top for more spacing */

}

.container {
  display: flex; /* Initiating the flex container */
  justify-content: center; /* Aligning items horizontally at the center */
  align-items: center;
}


.tabledata {
  padding: 7px;
}

#searchbar {
  height: 30px;
  border-radius: 5px;
}

#searchdiv {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

#formholder {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border: 1px solid black;
  /* Removed duplicate 'display' property */
  /* display: inline-block; */
}

.formInput {
  height: 30px;
  margin-right: 5px;
}

#transactionButton {
  height: 32px;
  color: white;
  background-color: #008000da;
  font-weight: 700;
  border-radius: 5px;
}

#transactionButton:hover {
  background-color: #006633;
}

#transactionButton:active{
  background-color: #006400;
  color: black;
}
  

.content-container {
  width: 70%; /* Adjusted width to a percentage for responsiveness */
  padding: 10px; /* Increased padding for better spacing */
  margin: 20px 0; /* Adjusted margin for top and bottom */
  border: 2px solid #333; /* Increased border width and changed color to a dark shade */
  background-color: #F5F5DC; /* Changed background color to a lighter shade */
}
